
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";



//Common shared styles overrides
.container{
  max-width:900px;
  display: block;
  width:100%;
  margin:0 auto;
}
.button{
  background: #a8ba0a;
}







//welcome- index page, listing of next 5 races
.race{
  display: block;
  width:250px;
  background-repeat: no-repeat!important;
  background-position: 0% 50%;
  padding-left:34px;
}

/*Thoroughbred*/
.T-race{
  color:#333;
  background-image: url('/img/horse.png');
}
/*Greyhounds*/
.G-race{
  color:#333;
  background-image: url('/img/dog.png');
}
/*Harness*/
.H-race{
  color:#333;
  background-image: url('/img/carreta.png');
}

.title{
  font-size:1.5rem;
}

.list_races{
  margin:0;
}
.list_races li{
  list-style-type: none;
  padding:1rem;
  background: #f7f7f7;
}
.list_races li:hover{
  background: #fff;
}
.text-center{
  text-align: center;
}
.menu-text{
  padding:0px;
}
.top-bar, .top-bar ul{
  background: #d32123;
  color:white;
}
.top-bar a{
  color:white;
}



